
.container-fluid img {
  width: 50px;
  height: 50px;
}
.imgpan{
  width: 200px;
  height: 200px;
}
.grid{
  margin-top: 35px;
}
.hover-card:hover {
  transform: scale(1.1); 
  transition: transform 0.2s ease; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 1.2);
  cursor: pointer;
}

  