

.main{
    width: 100vw;
    height: 100vh; 
    background-image: url("../assets/fondoPan.svg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.login{
    width: 30%;
    height: 85%;
    background-color: aliceblue;
    opacity: 0.9;
    box-shadow: 5px 5px 10px 5px rgb(163, 162, 161);
    display: flex;
    border-radius: 30px;
    flex-direction: column;
    align-items: center;
}
.encabezado{
    width: 100%;
    height: 30%;
    background-color: rgb(200, 84, 4);
    display: flex;
    border-radius: 27px 27px 0 0;
    justify-content: center;
}
.llenar div {
    padding: 10%;
}
.llenar div input {
    padding: 10px;
    border-radius: 7px;
    width: 200px;
}